
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='/home') Wx1024
    button.navbar-toggler(type='button',data-toggle='collapse',data-target='#navbarSupportedContent',aria-controls="navbarSupportedContent",aria-expanded="false",aria-label="Toggle navigation")
        span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='/home') 首页
            li.nav-item
                a.nav-link(href='/public/sign/login.html') 登录
        
            