script(src="https://cdn.bootcss.com/jquery/2.1.0/jquery.js")
script(src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js")
script(src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js")
script(src='public/js/index.js')
