<<<<<<< HEAD
extends ./layouts/default.pug

block title 
    title #{title}
        
block content
    include ./includes/navs.pug
    
    h2 #{title} 
    ul.list-group
        li.list-group-item
            a(href='/page/helloworld') /page/helloworld
        li.list-group-item
            a(href='/page/form') /page/form
        li.list-group-item
            a(href='/page/404') /page/404
        li.list-group-item
            a(href='/js/index.js') /js/index.js
        li.list-group-item
            a(href='/api/get/data.json') /api/get/data.json
        li.list-group-item
            a(href='/api/get/user.json') /api/get/user.json
        li.list-group-item
            a(href='/api/getData?name=wangxia&age=28') /api/getData?name=wangxia&age=28
        li.list-group-item
            a(href='/cookie/setcookie') /cookie/setcookie
        li.list-group-item
            a(href='/cookie/session') /cookie/session
        li.list-group-item
            a(href='/public/upload/index.html') /upload/index.html
        li.list-group-item
            a(href='/public/chat/index.html') /socket/index.html
=======
<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        link(href='https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css',rel='stylesheet')
        style.
            body{
                padding:20px;
            }
    body
        h1 #{title} wx
        ul.list-group
            li.list-group-item
                a(href='/page/helloworld') /page/helloworld
            li.list-group-item
                a(href='/page/form') /page/form
            li.list-group-item
                a(href='/page/404') /page/404
            li.list-group-item
                a(href='/js/index.js') /js/index.js
            li.list-group-item
                a(href='/api/get/data.json') /api/get/data.json
            li.list-group-item
                a(href='/api/get/user.json') /api/get/user.json
            li.list-group-item
                a(href='/api/getData?name=wangxia&age=28') /api/getData?name=wangxia&age=28
            li.list-group-item
                a(href='/cookie/setcookie') /cookie/setcookie
            li.list-group-item
                a(href='/cookie/session') /cookie/session
            li.list-group-item
                a(href='/upload/index.html') /upload/index.html
            li.list-group-item
                a(href='/sign/index.html') /sign/index.html
            li.list-group-item
                a(href='/sign/login.html') /sign/login.html
            li.list-group-item
                a(href='/sign/reset.html') /sign/reset.html
        script(src='https://cdn.bootcss.com/jquery/2.1.0/jquery.js',type='text/javascript')
        script(src='https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js',type='text/javascript')
>>>>>>> efa3951d262c25cc6c39215c969e208b31e09fed
