<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        link(rel='stylesheet',href='https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css')
        style.
            body{
                padding:20px;
            }
    body
        h1 #{title} wx
        ul.list-group
            li.list-group-item
                a(href='/page/helloworld') /page/helloworld
            li.list-group-item
                a(href='/page/form') /page/form
            li.list-group-item
                a(href='/page/404') /page/404
            li.list-group-item
                a(href='/js/index.js') /js/index.js
            li.list-group-item
                a(href='/api/get/data.json') /api/get/data.json
            li.list-group-item
                a(href='/api/get/user.json') /api/get/user.json
            li.list-group-item
                a(href='/api/getData?name=wangxia&age=28') /api/getData?name=wangxia&age=28
            li.list-group-item
                a(href='/cookie/setcookie') /cookie/setcookie
            li.list-group-item
                a(href='/cookie/session') /cookie/session
            li.list-group-item
                a(href='/upload/index.html') /upload/index.html
            li.list-group-item
                a(href='/sign/index.html') /sign/index.html
            li.list-group-item
                a(href='/sign/login.html') /sign/login.html
            li.list-group-item
                a(href='/sign/reset.html') /sign/reset.html
        script(type='text/javascript',src='https://cdn.bootcss.com/jquery/2.1.0/jquery.js')
        script(type='text/javascript',src='https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js')